/*h1 {
    background-color: rgb(172, 128, 9);
    opacity: 0.3;
}*/
h2 {
  color: rgb(0, 0, 0);
  background-color: rgb(235, 197, 93); 
}

/*header {
  background-color: #DFB887; /* Dark background color for header */
  /*padding: 20px 0;
  text-align: center;
}*/

body {
  background-color: #0e548d; /* Define your desired background color */
  /*background-color: #d4bd8b; /* Define your desired background color */
}

#garage_capacity {
  position: absolute;
  top: 10%;
  left: 50%;
  border-radius: 65px; /* Rounded corners */
  overflow: hidden; /* Hide overflow content */
}

#week_usage {
  position: absolute;
  top: 50%;
  left: 50%;
  border-radius: 65px; /* Rounded corners */
  overflow: hidden; /* Hide overflow content */
}

.container_buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  padding-right: 200px; /* Add padding to the left side */
}

.button-grid {
  display: flex;
  flex-direction: column;
  /*align-items: flex-start; /* Align buttons to the left */
}

.button-grid button {
  width: 150%;
  height: 150px;
  margin-bottom: 50px; /* Optional: add margin between buttons */
  border: none;
  border-radius: 25px;
  font-weight: bold; /* Bold text */
  font-size: 40px;
  color: #000000;
  background-color: #4CAF50;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  cursor: pointer;
  transition-duration: 0.4s;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}

.button-grid button:hover {
  background-color: #45a049;
}

.fancy-button {
  background-image: linear-gradient(to bottom, #ffdb4d 50%, #eb9028 100%);
  width: 250px; /* Increase button width */
  height: 150px; /* Adjust button height */
  margin-bottom: 50px; /* Add margin between buttons */
}


/* Style for the payment message */
#payment-message {
  background-color: #4CAF50; /* Green background */
  color: rgb(5, 4, 4); /* White text */
  padding: 60px; /* Padding */
  text-align: center; /* Center text */
  font-weight: bold; /* Bold text */
  font-size: 40px;
  position: fixed; /* Fixed position */
  bottom: 30px; /* Position it 20px from the bottom */
  left: 50%; /* Center horizontally */
  transform: translateX(-50%); /* Center horizontally */
  z-index: 999; /* Ensure it's above other elements */
  width: 80%; /* Set width to 80% of the viewport */
  max-width: 500px; /* Limit maximum width */
  border-radius: 45px; /* Rounded corners */
  overflow: hidden; /* Hide overflow content */
}



  .odd-column, .even-column {
    display: flex; /* Change the display property to flex */
    flex-direction: row; /* Adjust the direction to column */
    align-items: flex-start; /* Align content to the start of each column */
    margin-left: 60px; /* Set margin from the left side */
    margin-top: 60px;
  }
  
  /* Additional CSS for parking lot elements */
  .parking-lot {
    width: 50px;
    height: 50px;
    border-radius: 50%; /* Make the elements round */
    transition: background-color 0.5s ease; /* Smooth transition effect */
    text-align: center; /* Center text */
    line-height: 50px; /* Vertically center text */
    font-size: 24px; /* Adjust font size */
    font-weight: bold;
  }
  
  /* Adjust margin for the header in the odd-column */
  .odd-column h3,
  .even-column h3 {
    margin-top: 10px; /* Add some margin to the top */
    color: black; /* Text color */
    background-image: linear-gradient(to bottom, #ffdb4d 50%, #eb9028 100%); /* Background color */
    width:  150px;
    height: 30px;
    border-radius: 20%;
  }

  .container_buttons {
    display: flex;
    flex-direction: column; /* Change to column layout */
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  .button-grid {
    display: flex;
    flex-direction: column;
    align-items: center; /* Center buttons horizontally */
    margin-bottom: 50px; /* Add margin between buttons and textfield */
  }
  
  .fancy-textfield {
    position: relative; /* Position relative for absolute positioning of over-text */
    border: 2px solid #ccc; /* Border color */
    border-radius: 25px; /* Rounded corners */
    padding: 10px; /* Padding inside the textfield */
    font-size: 36px; /* Font size */
    font-weight: bold;
    background-color: #3a3939; /* Background color */
    width:  150px; /* Adjust width as needed */
    height: 100px;
    margin-bottom: 50px; /* Add margin between textfield and button */
    margin-left: 170px;
    display: flex; /* Set display to flex */
    justify-content: center; /* Center content horizontally */
    align-items: center; /* Center content vertically */
  }

  .green-text {
    color: #33be33; /* Green text color */
    font-size: 80px; /* Font size of the over-text */
    font-weight: bold;
  }

  .over-text {
    position: absolute; /* Position absolute */
    top: -80px; /* Adjust top position as needed */
    left: 65%; /* Center horizontally */
    transform: translateX(-50%); /* Center horizontally */
    font-size: 36px; /* Font size of the over-text */
    font-weight: bold;
    width:  400px; /* Adjust width as needed */
    color: white; /* Text color */
  }
  
