<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Parkovaci dom: Pridanie vozidla</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style_v4.css') }}">
</head>
    <body>
        <header>
            <h1>Pridaj vozidlo</h1>
        </header>
        <div class="container">
            
            <form id="addVehicle" method="POST" action="/add_Vehicle">
                <div class="form-field">
                    <label for="ecv">EČV:</label>
                    <input type="text" id="ecv" name="ecv"><br><br>
                </div> 
                <div class="form-field">
                    <label for="email">Email:</label>
                    <input type="text" id="email" name="email"><br><br>
                </div> 
                <div class="form-field"></div>   
                    <label for="umiestnenie">Umiestnenie:</label>                 
                    <input type="text" id="umiestnenie" name="umiestnenie" value="{{ new_value }}"><br><br>               
                    <button id="confirm-button" type="submit">Pridaj vozidlo</button>  
                </div>             
            </form>   
            <img src="/static/images/Screenshot_8.png" alt="Car Image" class="car-image-right" height="300">       
            <img src="/static/images/Screenshot_8.png" alt="Car Image" class="car-image-left" height="300"> 
        </div>
        {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
                {% for category, message in messages %}
                    <div class="alert alert-{{ category }}">{{ message }}</div>
                {% endfor %}
            {% endif %}
        {% endwith %}
        <button id="back-button" type="fancy-button">Späť</button>
    </body>
    <script>
        document.getElementById('back-button').addEventListener('click', function() {
        window.location.href = '/parking_data';
        });
    </script>
</html>