<!DOCTYPE html>
<html>
<head>
    <title>Parkovaci dom: Úvodná stránka</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/top_nav.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
   <!-- <meta http-equiv="refresh" content="10"> -->
</head>
<body>
    <header>
        <div class="container">
          <div class="top-nav">
            <h1 class="logo">Parkovací dom</h1>
          </div>
                     
            <div class="menu">
                     
          </div>
        </div>

        </div>
    </header>
    <div class="container_buttons">
        {% block content %}
        <div class="button-grid">
            <a href="/login_user"><button class="fancy-button" >Prihlásenie používateľa</button></a> 
            <a href="/payment"><button class="fancy-button"> >>>>>    Platba    <<<<< </button></a>
        </div>
        <div class="fancy-textfield green-text">
          <p class="over-text">Počet voľných miest</p>
          {% for data in myresult_3 %}
              {{ data[0] }}
          {% endfor %}
        </div>
        {% endblock %}
    </div>
    {% if message %}
      <div id="payment-message" class="message">{{ message }}</div>
    {% endif %} 
    <script>
      setTimeout(function() {
          var paymentMessage = document.getElementById('payment-message');
          if (paymentMessage) {
              paymentMessage.remove();
              var urlWithoutMessage = window.location.href.split('?')[0];
              history.replaceState({}, document.title, urlWithoutMessage);
          }
      }, 3000); 
    </script>
   
    <script>
      function updateTextField() {
          fetch('/get_updated_value') 
              .then(response => response.json())
              .then(data => {
                  document.getElementById('fancy-textfield').innerText = data.value;
              })
              .catch(error => console.error('Error:', error));
      }
      setInterval(updateTextField, 3000);
  </script>
</body>
</html>