<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Parkovaci dom: Prihlásie zákazníka</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style_v3.css') }}">
</head>
<body>
    <header>
        <div class="container">
            <h1 class="logo">Prihlásenie zákazníka</h1>
        </div>
    </header>

    {% if error %}
        <p class="error-message">{{ error }}</p>
    {% endif %}
    <form method="POST" action="/login_user" class="login-form">
        <label for="username">Username:</label>
        <input type="text" id="username" name="username" required><br><br>
        <label for="password">Password:</label>
        <input type="password" id="password" name="password" required><br><br>
        <input type="submit" value="Login">
    </form>

    <button id="back-button" type="fancy-button">Späť</button>
    <script> 
        document.getElementById('back-button').addEventListener('click', function() {
            window.location.href = '/home';
            });
    </script>
</body>
</html>