<!DOCTYPE html>
<html>
    <head>
        <title>Parkovaci dom: Analýza parkovacieho domu </title>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/top_nav.css') }}">
    </head>

    <meta name="viewport" content="witdth=device-width, initial-scale=1.0">
    <meta charset="utf-8">
    <link rel="stylesheet" type="text/css" href="../static/css/style.css">
    <link rel="stylesheet" type="text/css" href="../static/css/style_tables.css">
    <meta http-equiv="refresh" content="40">  

<body>
    <header>
        <div class="container">
            <div class="top-nav">
                    <h1 class="logo">Analýza dát parkovacieho domu</h1>
            </div>
            <div class="menu">
                <li><a href="{{ url_for('add_Vehicle') }}" style="color: rgb(0, 0, 0);">Pridaj vozidlo</a></li>
                <li><a href="{{ url_for('login_admin') }}" style="color: rgb(0, 0, 0);">Odhlásenie</a></li>
                <li><a href="{{ url_for('home') }}" style="color: rgb(0, 0, 0);">Úvodná stránka</a></li>
            </div>
        </div> 
    </header>
    <table class="rosyBrownTable" align="center">
        <thead>
            <tr>
            <th>ID Zaznamu</th>
            <th>ECV</th>
            <th>Cas Prichodu</th>
            <th>Cas Odchodu</th>
            <th>Tarifa hod</th>
            <th>Umiestnenie</th>
            <th>Cena parkovania</th>
            <th>ID zakaznika</th>
            </tr>
        </thead>
        <tfoot>
            <tr>
            <td colspan="8">
            <div class="links"><a href="#">&laquo;</a> <a class="active" href="#">1</a> <a href="#">2</a> <a href="#">3</a> <a href="#">4</a> <a href="#">&raquo;</a></div>
            </td>
            </tr>
        </tfoot>
        
        <tbody>
            {% for data in parking_data %}
            <tr>
                <td>{{data[0]}}</td>
                <td>{{data[1]}}</td>
                <td>{{data[2]}}</td>
                <td>{{data[3]}}</td>
                <td>{{data[4]}}</td>
                <td>{{data[5]}}</td>
                <td>{{data[6]}}</td>
                <td>{{data[7]}}</td>
            </tr>
            {% endfor %}
    </table>
    <div id="garage_capacity" style="width: 700px; height: 400px; border: 6px solid black; margin-top: 30px;"></div>
        <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
        <script type="text/javascript">
        google.charts.load("current", {packages:["corechart"]});
        google.charts.setOnLoadCallback(drawChart);

        function drawChart() {
            var mojeData_1 = parseInt("{{mojeData[0][0]}}");
            var mojeData_2 = parseInt("{{mojeData_2[0][0]}}");
            var data = google.visualization.arrayToDataTable([
            ['Task', 'Počet miest'],
            ['Obsadené',    mojeData_1],
            ['Volné',      mojeData_2]
            ]);

            var options = {
            title: 'Momentálne využitie kapacít parkovacieho domu',
            backgroundColor: '#d4bd8b',
            is3D: true,
            };

            var chart = new google.visualization.PieChart(document.getElementById('garage_capacity'));
            chart.draw(data, options);
        }
        </script>

        <div id="week_usage" style="width: 700px; height: 400px; border: 6px solid black; margin-top: 30px;"></div>
        <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
        <script type="text/javascript">
        google.charts.load("current", {packages:["corechart"]});
        google.charts.setOnLoadCallback(drawChart);
        function drawChart() {
            var monday = parseInt("{{monday[0][0]}}");
            var tuesday = parseInt("{{tuesday[0][0]}}");
            var wednesday = parseInt("{{wednesday[0][0]}}");
            var thursday = parseInt("{{thursday[0][0]}}");
            var friday = parseInt("{{friday[0][0]}}");
            var saturday = parseInt("{{saturday[0][0]}}");
            var sunday = parseInt("{{sunday[0][0]}}");

            var data = google.visualization.arrayToDataTable([
                ['Day of Week', 'Car Count'],
                ['Pondelok', monday],
                ['Utorok', tuesday],
                ['Streda', wednesday],
                ['Štvrtok', thursday],
                ['Piatok', friday],
                ['Sobota', saturday],
                ['Nedeľa', sunday]
            ]);

            var options = {
            title: 'Týždenné využitie kapacít parkovacieho domu',
            backgroundColor: '#d4bd8b',
            is3D: true,
            };

            var chart = new google.visualization.PieChart(document.getElementById('week_usage'));
            chart.draw(data, options);
        }
        </script>

        <div class="column-container">
            <div class="column odd-column">
                <h3>Ľavý blok  :  </h3>
                {% for i in range(1, 21) if i % 2 != 0 %}
                    <div class="parking-lot" id="element-{{ i }}">{{ i }}</div>
                {% endfor %}
            </div>

            <div class="column even-column">
                <h3>Pravý blok :  </h3>
                {% for i in range(1, 21) if i % 2 == 0 %}
                    <div class="parking-lot" id="element-{{ i }}">{{ i }}</div>
                {% endfor %}
            </div>
        </div>   
        <script>
            function updateParkingLotStatus() {
                var umiestnenie_values = JSON.parse('{{ umiestnenie_values|tojson|safe }}'); 
                
                for (var i = 1; i <= 20; i++) {
                    var elementId = 'element-' + i;
                    var element = document.getElementById(elementId);
                    var isValuePresent = umiestnenie_values.includes(i); 
                    element.style.backgroundColor = isValuePresent ? '#00cc00' : '#ff4d4d'; 
                }
            }   
            updateParkingLotStatus(); 
            setInterval(updateParkingLotStatus, 2000); 
        </script>
    </body>
</html>