<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Parkovaci dom: Informácie o vozidle</title> 
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style_v4.css') }}">
</head>

<body>
    <header>
        <h1>Informácie o vozidle</h1>
    </header>
    <div class="car-info-container">
        <img src="/static/images/Screenshot_8.png" alt="Car Image" class="car-image-left">
        <form id="car-info-form" method="POST" action="/users_data">       
            <div class="car-info-form-field">
                <label for="ecv-car-info">EČV:</label>
                <input type="text" id="ecv-car-info" name="ecv-car-info" value="{{ ecv_vozidla }}"readonly>    
            </div>
            <div class="car-info-form-field">
                <label for="id_vozidla">ID Vozidla:</label>
                <input type="number" id="id_vozidla" name="id_vozidla" value="{{ fk_id_vozidla }}"readonly>  
            </div>
            <div class="car-info-form-field">
                <label for="umiestnenie-car-info">Umiestnenie:</label>
                <input type="text" id="umiestnenie-car-info" name="umiestnenie-car-info" value="{{ umiestnenie }}"readonly>
            </div>
            <div class="car-info-form-field">
                <label for="cas_prichodu">Čas Prichodu:</label>
                <input type="text" id="cas_prichodu" name="cas_prichodu" value="{{ cas_prichodu }}"readonly>
            </div>
            <div class="car-info-form-field">
                <label for="cas-zdarma">Zostávajúce hodiny zdarma:</label>
                <input type="text" id="cas-zdarma" name="cas-zdarma" value="{{ Hodiny_zdarma }}"readonly>
            </div>
            <div class="car-info-form-field">
                <label for="cena">Cena Eur:</label>
                <input type="text" id="cena" name="cena" value="{{ cena }}"readonly>
            </div>           
        </form>
        <img src="/static/images/Screenshot_8.png" alt="Car Image" class="car-image-right">
    </div>
        <button id="logout-button" type="fancy-button">Odhlásenie</button>
    <script>
        document.getElementById('logout-button').addEventListener('click', function() {
            window.location.href = '/logout';
            });
    </script>
    {% if message %}
    <div id="payment-message" class="message">{{ message }}</div>
    {% endif %}
</body>
</html>
