/* CSS code (style_v4.css) */
body {
    font-family: Arial, sans-serif;
    background-color: #0e548d;
    margin: 0;
    padding: 0;
}

header {
    background-color: #DFB887;
    color: #000000;
    text-align: center;
    padding: 10px 0;
}

.container {
    max-width: 400px;
    margin: 100px auto; /* Adjust margin to separate header from container */
    padding: 20px; /* Adjust padding */
    background-color: #eb9028; /*#fff*/
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.form-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.form-field {
    margin-bottom: 20px; /* Add margin between form fields */
}

select {
    padding: 10px;
    width: 400px; /* Make listbox wider by 50px * calc(100% + */
    font-size: 40px; /* Increase font size */
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    font-weight: bold;
}

button {
    padding: 35px 95px;
    border: none;
    border-radius: 4px;
    font-size: 40px;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-right: 30px; /* Add margin between button and listbox */
}

button:hover {
    background-color: #3a863e;
}

#back-button {
    display: flex;
    justify-content: flex-start; /* Align text to the left */
    align-items: center; /* Center vertically */
    background-image: linear-gradient(to bottom, #ffdb4d 40%, #eb9028 100%);
    color: black; /* Black text color */
    margin-bottom: 20px; /* Add vertical space between Back and Pay buttons */
    width: 200px; /* Set width of Back button */
    height: 40px; /* Height of the text fields */
    margin-right: 20px; /* Add space between Back and Pay buttons */
    font-size: 36px; /* Font size */
    padding-left: 60px; /* Add padding to space between text and button edge */
    border: none; /* Remove button border */
    cursor: pointer; /* Show pointer cursor on hover */
    transition: background-color 0.3s ease; /* Smooth background color transition */
    line-height: 40px; /* Center text vertically */
    border-radius: 40px;
}
    


#back-button:hover {
    background-color: #e0ad00; /* Darker background color on hover */
}

#confirm-button {
    background-image: linear-gradient(to bottom, #4caf50 50%, #3b8a3e 100%);
    color: #000000; /* text color */
    margin-left: 35px; /* Add space between Back and Pay buttons */
    border-radius: 40px;
}

.message {
    font-size: 25px;
    font-weight: bold;
}

.message {
    animation: fadeInOut 5s forwards;
}

.alert {
    position: fixed;
    bottom: 20px; /* Adjusts the distance from the bottom of the page */
    left: 50%;
    transform: translateX(-50%);
    z-index: 1000; /* Ensures the message is above other content */
    padding: 10px 20px;
    background-color: #f7717c; /* Light red background */
    color: black; /* Black text color */
    font-weight: bold;
    font-size: 28px;
    border-radius: 5px; /* Rounded corners for the rectangle */
    box-shadow: 0 2px 4px rgba(0,0,0,0.2); /* Adds a subtle shadow for depth */
    text-align: center;
    width: auto;
    min-width: 200px; /* Minimum width of the message box */
    max-width: 80%; /* Maximum width to ensure it doesn’t stretch too far on large screens */
  }

  .alert {
    animation: fadeInOut 5s forwards;
  }
  
  @keyframes fadeInOut {
    0%, 100% { opacity: 0; }
    10%, 90% { opacity: 1; }
  }

#price{
    background-color: #f2f2f2; /* Light gray background */
    width: 200px; /* Width of the text fields */
    height: 40px; /* Height of the text fields */
    font-size: 36px; /* Font size */
    font-weight: bold; /* Bold font */
    margin-right: 60px; /* Space between label and text field */
}

#cas-prichodu, #cas-odchodu, #ecv, #umiestnenie {
    background-color: #f2f2f2; /* Light gray background */
    width: 350px; /* Width of the text fields */
    height: 40px; /* Height of the text fields */
    font-size: 36px; /* Font size */
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

/* Styles for text field labels */
label {
    font-size: 24px;
    font-weight: bold; /* Bold font */
    margin-right: 15px; /* Space between label and text field */
    margin-top: 40px; /* Space between text field and list box */
    display: block; /* Display label in block format */
}

.car-info-container {
    height: 700px;
    max-width: 400px;
    margin: 20px auto; /* Adjust margin to separate header from container */
    padding: 15px; /* Adjust padding */
    background-color: #eb9028; /*#fff*/
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.car-info-form-field {
    margin-bottom: 10px; /* Add margin between form fields */
}

input[type="text"],
input[type="number"] {
    width: 80%;
    padding: 8px;
    font-size: 26px;
    font-weight: bold;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

#home-button {
    display: flex;
    justify-content: flex-start; /* Align text to the left */
    align-items: center; /* Center vertically */
    background-image: linear-gradient(to bottom, #ffdb4d 40%, #eb9028 100%);
    color: black; /* Black text color */
    margin-bottom: 20px; /* Add vertical space between Back and Pay buttons */
    width: 200px; /* Set width of Back button */
    height: 40px; /* Height of the text fields */
    margin-right: 80px; /* Add space between Back and Pay buttons */
    font-size: 36px; /* Font size */
    padding-left: 40px; /* Add padding to space between text and button edge */
    border: none; /* Remove button border */
    cursor: pointer; /* Show pointer cursor on hover */
    transition: background-color 0.3s ease; /* Smooth background color transition */
    line-height: 40px; /* Center text vertically */
    border-radius: 40px;
}

#logout-button {
    display: flex;
    justify-content: flex-start; /* Align text to the left */
    align-items: center; /* Center vertically */
    background-image: linear-gradient(to bottom, #ffdb4d 40%, #eb9028 100%);
    color: black; /* Black text color */
    margin-bottom: 20px; /* Add vertical space between Back and Pay buttons */
    width: 260px; /* Set width of Back button */
    height: 40px; /* Height of the text fields */
    margin-right: 80px; /* Add space between Back and Pay buttons */
    font-size: 36px; /* Font size */
    padding-left: 40px; /* Add padding to space between text and button edge */
    border: none; /* Remove button border */
    cursor: pointer; /* Show pointer cursor on hover */
    transition: background-color 0.3s ease; /* Smooth background color transition */
    line-height: 40px; /* Center text vertically */
    border-radius: 40px;
}


.car-image-left,
.car-image-right {
    width: 550px; /* Adjust image width as needed */
    height: 750px; /* Maintain aspect ratio */
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

.car-image-left {
    left: 0px; /* Adjust left positioning */
}

.car-image-right {
    right: 0px; /* Adjust right positioning */
}

